@using noBugsEx.Models;

@helper Render(Post post, System.Web.Mvc.HtmlHelper html, bool CanEdit)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a href="@Href("~/Blog/Details/" + @post.Id)">@post.Title</a></h4>
            @post.DateTime.ToString()
        </div>
        <div class="panel-body">
           
            @html.Raw(post.Body)
        </div>
        <div class="panel-footer">
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="Here we go!" data-url="http://nobugsexception.com/" data-show-count="false">Tweet</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            @if (CanEdit)
    {
                <div class="postControlPanel" align="right">
                    <a href="@Href("~/Blog/Delete/" +post.Id)">Delete</a>
                    <a href="@Href("~/Blog/Edit/" +post.Id)">Edit</a>
                </div>

            }
        </div>
    </div>

}
